* {
    margin: 0;
    padding: 0;
    background-color: rgba(209, 18, 142, 0);
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    width: 684px;
    height: 104px;
    left: 84px;
    top: 75px;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 86px;
    color: #FFFFFF;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 20vh;
  }
  
  .equipe {
    /* position: absolute; */
    width: 100%;
    max-width: 980px;
    left: 40%;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .format1 {
    /* position: absolute;
    width: 418px;
    height: 80px;
    left: 74px;
    top: 200px; */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 43px;
    text-align: center;
    color: #000000;
  }
  .format2 {
    /* position: absolute;
    width: 375px;
    height: 127px;
    left: 96px;
    top: 320px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #000000;
  }

  .byelogo {
    width: 142px;
    height: 140px;
    top: 600px;
    animation: byelogo 1s ease infinite;
  }
  
  @keyframes byelogo {
    30% {
      transform: scale(1.2);
    }
  
    40%, 60% {
      transform: rotate(-20deg) scale(1.2);
    }
  
    50%{
      transform: rotate(20deg) scale(1.2);
    }
  
    70%{
      transform: rotate(0deg);
    }
  
    100%{
      transform: scale(1);
    }
  }

  .centrepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 40%;
    margin-top: 30px;
    padding: 2em;
    box-sizing: border-box;
    overflow: hidden;
    gap: 40px;
  }
  
  .image_equipe {
    box-sizing: border-box;
  }