* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  width: 684px;
  height: 104px;
  left: 84px;
  top: 75px;
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 86px;
  color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: #23232e;
  height: 20vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Bloc parking */

.map {
  height: 400px;
  width: 100%;
  border-radius: 20px;
}

.bloc {
  font-family: "Poppins", sans-serif;
  display: flex;
  padding: 1em;
  flex-direction: row;
  justify-content: space-around;
}

.graphique {
  background-color: rgb(218, 218, 218);
  padding: 20px;
  margin: 1em;
  width: 30em;
  border-radius: 20px;
  align-self: center;
}

.infos_parking {
  background-color: rgb(218, 218, 218);
  flex-direction: column;
  border-radius: 20px;
  width: 30em;
  margin: 1em;
  padding: 20px;
}

.search {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.deroulant {
  font-family: "Poppins", sans-serif;
  background-color: rgb(131, 132, 141);
  top: 22vh;
  width: 20%;
  list-style-type: none;
  border-radius: 10px;
  position: absolute;
  z-index: 1000000000000000;
}

.deroulant a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

.deroulant ul li {
  width: 100%;
  text-align: center;
  list-style-type: none;
  display: none;
}

.deroulant a:hover {
  color: rgb(255, 255, 255);
}

.deroulant > a::after {
  content: "   👇";
  font-size: 12px;
}

.deroulant:hover {
  height: 250px;
  overflow-y: scroll;
}

.deroulant:hover ul li {
  display:block;
}

.sous li {
  float: none;
  width: 100%;
  text-align: left;
}

